<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net47" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net47" />
  <package id="ClosedXML" version="0.95.3" targetFramework="net47" />
  <package id="DelegateDecompiler" version="0.24.0" targetFramework="net47" />
  <package id="DelegateDecompiler.EntityFramework" version="0.24.0" targetFramework="net47" />
  <package id="DocumentFormat.OpenXml" version="2.11.0" targetFramework="net47" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net47" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net47" />
  <package id="garmit.AssetConditionModel" version="0.0.8111.34577" targetFramework="net47" />
  <package id="garmit.AssetConditionModel.Interface" version="0.0.8111.34576" targetFramework="net47" />
  <package id="garmit.AuthenticationService" version="0.0.8116.24071" targetFramework="net47" />
  <package id="garmit.AuthenticationService.Interface" version="0.0.8116.24071" targetFramework="net47" />
  <package id="garmit.AuthorityModel" version="0.0.8112.28222" targetFramework="net47" />
  <package id="garmit.AuthorityModel.Interface" version="0.0.8112.28221" targetFramework="net47" />
  <package id="garmit.ColumnOrderModel" version="0.0.8111.32794" targetFramework="net47" />
  <package id="garmit.ColumnOrderModel.Interface" version="0.0.8111.32793" targetFramework="net47" />
  <package id="garmit.ColumnOrderService" version="0.0.8116.25234" targetFramework="net47" />
  <package id="garmit.ColumnOrderService.Interface" version="0.0.8116.25233" targetFramework="net47" />
  <package id="garmit.ConsumerModel" version="0.0.8116.20692" targetFramework="net47" />
  <package id="garmit.ConsumerModel.Interface" version="0.0.8116.20691" targetFramework="net47" />
  <package id="garmit.ConsumerService" version="0.0.8116.30280" targetFramework="net47" />
  <package id="garmit.ConsumerService.Interface" version="0.0.8116.30279" targetFramework="net47" />
  <package id="garmit.ControlCommandModel" version="0.0.8112.30574" targetFramework="net47" />
  <package id="garmit.ControlCommandModel.Interface" version="0.0.8112.30573" targetFramework="net47" />
  <package id="garmit.ControlCommandService" version="0.0.8116.30419" targetFramework="net47" />
  <package id="garmit.ControlCommandService.Interface" version="0.0.8116.30418" targetFramework="net47" />
  <package id="garmit.ControlHistModel" version="0.0.8112.20737" targetFramework="net47" />
  <package id="garmit.ControlHistModel.Interface" version="0.0.8112.20736" targetFramework="net47" />
  <package id="garmit.ControlHistService" version="0.0.8116.34298" targetFramework="net47" />
  <package id="garmit.ControlHistService.Interface" version="0.0.8116.34297" targetFramework="net47" />
  <package id="garmit.ControlScheduleModel" version="0.0.8112.21243" targetFramework="net47" />
  <package id="garmit.ControlScheduleModel.Interface" version="0.0.8112.21242" targetFramework="net47" />
  <package id="garmit.ControlScheduleService" version="0.0.8116.34163" targetFramework="net47" />
  <package id="garmit.ControlScheduleService.Interface" version="0.0.8116.34162" targetFramework="net47" />
  <package id="garmit.DashboardModel" version="0.0.8112.27794" targetFramework="net47" />
  <package id="garmit.DashboardModel.Interface" version="0.0.8112.27793" targetFramework="net47" />
  <package id="garmit.DashboardService" version="0.0.8455.16552" targetFramework="net47" />
  <package id="garmit.DashboardService.Interface" version="0.0.8455.16550" targetFramework="net47" />
  <package id="garmit.DataEmbeddedReportModel" version="0.0.8116.20047" targetFramework="net47" />
  <package id="garmit.DataEmbeddedReportModel.Interface" version="0.0.8116.20046" targetFramework="net47" />
  <package id="garmit.DataEmbeddedReportService" version="0.0.8116.35315" targetFramework="net47" />
  <package id="garmit.DataEmbeddedReportService.Interface" version="0.0.8116.35315" targetFramework="net47" />
  <package id="garmit.DatagateModel" version="0.0.8112.28513" targetFramework="net47" />
  <package id="garmit.DatagateModel.Interface" version="0.0.8112.28512" targetFramework="net47" />
  <package id="garmit.DatagateService" version="0.0.8556.33943" targetFramework="net47" />
  <package id="garmit.DatagateService.Interface" version="0.0.8556.33941" targetFramework="net47" />
  <package id="garmit.DemandDataModel" version="0.0.8112.21377" targetFramework="net47" />
  <package id="garmit.DemandDataModel.Interface" version="0.0.8112.21376" targetFramework="net47" />
  <package id="garmit.DemandGraphService" version="0.0.7408.26297" targetFramework="net47" />
  <package id="garmit.DemandGraphService.Interface" version="0.0.7408.26296" targetFramework="net47" />
  <package id="garmit.DemandSetModel" version="0.0.8112.21117" targetFramework="net47" />
  <package id="garmit.DemandSetModel.Interface" version="0.0.8112.21117" targetFramework="net47" />
  <package id="garmit.DemandSetService" version="0.0.8116.30700" targetFramework="net47" />
  <package id="garmit.DemandSetService.Interface" version="0.0.8116.30700" targetFramework="net47" />
  <package id="garmit.DemandSummaryService" version="0.0.8116.34431" targetFramework="net47" />
  <package id="garmit.DemandSummaryService.Interface" version="0.0.8116.34430" targetFramework="net47" />
  <package id="garmit.DomainObject" version="0.0.8552.28862" targetFramework="net47" />
  <package id="garmit.EgroupMapService" version="0.0.8116.27415" targetFramework="net47" />
  <package id="garmit.EgroupMapService.Interface" version="0.0.8116.27415" targetFramework="net47" />
  <package id="garmit.EgroupModel" version="0.0.8419.16944" targetFramework="net47" />
  <package id="garmit.EgroupModel.Interface" version="0.0.8419.16943" targetFramework="net47" />
  <package id="garmit.EgroupService" version="0.0.8116.26591" targetFramework="net47" />
  <package id="garmit.EgroupService.Interface" version="0.0.8116.26590" targetFramework="net47" />
  <package id="garmit.ElectricLockMapService" version="0.0.8557.16503" targetFramework="net47" />
  <package id="garmit.ElectricLockMapService.Interface" version="0.0.8557.16502" targetFramework="net47" />
  <package id="garmit.ElockOpLogModel" version="0.0.8592.29721" targetFramework="net47" />
  <package id="garmit.ElockOpLogModel.Interface" version="0.0.8592.29720" targetFramework="net47" />
  <package id="garmit.ElockOpLogService" version="0.0.8593.27482" targetFramework="net47" />
  <package id="garmit.ElockOpLogService.Interface" version="0.0.8593.27481" targetFramework="net47" />
  <package id="garmit.EmbeddedReportModel" version="0.0.8556.31878" targetFramework="net47" />
  <package id="garmit.EmbeddedReportModel.Interface" version="0.0.8556.31877" targetFramework="net47" />
  <package id="garmit.EmbeddedReportService" version="0.0.8556.36132" targetFramework="net47" />
  <package id="garmit.EmbeddedReportService.Interface" version="0.0.8556.36130" targetFramework="net47" />
  <package id="garmit.EnterpriseModel" version="0.0.8112.28884" targetFramework="net47" />
  <package id="garmit.EnterpriseModel.Interface" version="0.0.8112.28883" targetFramework="net47" />
  <package id="garmit.EnterpriseService" version="0.0.8116.30100" targetFramework="net47" />
  <package id="garmit.EnterpriseService.Interface" version="0.0.8116.30099" targetFramework="net47" />
  <package id="garmit.ERackModel" version="0.0.8116.19760" targetFramework="net47" />
  <package id="garmit.ERackModel.Interface" version="0.0.8116.19759" targetFramework="net47" />
  <package id="garmit.ERackOperationService" version="0.0.8116.34812" targetFramework="net47" />
  <package id="garmit.ERackOperationService.Interface" version="0.0.8116.34812" targetFramework="net47" />
  <package id="garmit.ERackSetService" version="0.0.8116.34561" targetFramework="net47" />
  <package id="garmit.ERackSetService.Interface" version="0.0.8116.34560" targetFramework="net47" />
  <package id="garmit.ExportModel" version="0.0.8553.24199" targetFramework="net47" />
  <package id="garmit.ExportModel.Interface" version="0.0.8553.24198" targetFramework="net47" />
  <package id="garmit.ExportService" version="0.0.8557.18574" targetFramework="net47" />
  <package id="garmit.ExportService.Interface" version="0.0.8557.18573" targetFramework="net47" />
  <package id="garmit.ExtendedDataModel" version="0.0.8112.28870" targetFramework="net47" />
  <package id="garmit.ExtendedDataModel.Interface" version="0.0.8112.28869" targetFramework="net47" />
  <package id="garmit.ExtendedDataService" version="0.0.8116.23578" targetFramework="net47" />
  <package id="garmit.ExtendedDataService.Interface" version="0.0.8116.23577" targetFramework="net47" />
  <package id="garmit.FloorMapModel" version="0.0.8465.18465" targetFramework="net47" />
  <package id="garmit.FloorMapModel.Interface" version="0.0.8465.18463" targetFramework="net47" />
  <package id="garmit.FloorMapService" version="0.0.8465.18770" targetFramework="net47" />
  <package id="garmit.FloorMapService.Interface" version="0.0.8465.18769" targetFramework="net47" />
  <package id="garmit.FunctionModel" version="0.0.8112.20420" targetFramework="net47" />
  <package id="garmit.FunctionModel.Interface" version="0.0.8112.20419" targetFramework="net47" />
  <package id="garmit.ICCardModel" version="0.0.8556.31233" targetFramework="net47" />
  <package id="garmit.ICCardModel.Interface" version="0.0.8556.31232" targetFramework="net47" />
  <package id="garmit.ICCardReadHistService" version="0.0.8556.36729" targetFramework="net47" />
  <package id="garmit.ICCardReadHistService.Interface" version="0.0.8556.36728" targetFramework="net47" />
  <package id="garmit.ICCardService" version="0.0.8556.36277" targetFramework="net47" />
  <package id="garmit.ICCardService.Interface" version="0.0.8556.36276" targetFramework="net47" />
  <package id="garmit.ICTerminalModel" version="0.0.8553.17866" targetFramework="net47" />
  <package id="garmit.ICTerminalModel.Interface" version="0.0.8553.17865" targetFramework="net47" />
  <package id="garmit.ICTerminalService" version="0.0.8557.16599" targetFramework="net47" />
  <package id="garmit.ICTerminalService.Interface" version="0.0.8557.16598" targetFramework="net47" />
  <package id="garmit.ImportProcess" version="0.0.8553.30497" targetFramework="net47" />
  <package id="garmit.ImportService" version="0.0.8553.30503" targetFramework="net47" />
  <package id="garmit.ImportService.Interface" version="0.0.8553.30502" targetFramework="net47" />
  <package id="garmit.IncidentModel" version="0.0.8416.17533" targetFramework="net47" />
  <package id="garmit.IncidentModel.Interface" version="0.0.8416.17532" targetFramework="net47" />
  <package id="garmit.IncidentService" version="0.0.8416.18318" targetFramework="net47" />
  <package id="garmit.IncidentService.Interface" version="0.0.8416.18317" targetFramework="net47" />
  <package id="garmit.Infrastructure" version="0.0.8553.19120" targetFramework="net47" />
  <package id="garmit.LineHistModel" version="0.0.7966.38767" targetFramework="net47" />
  <package id="garmit.LineHistModel.Interface" version="0.0.7966.38766" targetFramework="net47" />
  <package id="garmit.LineHistService" version="0.0.8416.18107" targetFramework="net47" />
  <package id="garmit.LineHistService.Interface" version="0.0.8416.18106" targetFramework="net47" />
  <package id="garmit.LineModel" version="0.0.8416.18292" targetFramework="net47" />
  <package id="garmit.LineModel.Interface" version="0.0.8416.18291" targetFramework="net47" />
  <package id="garmit.LineService" version="0.0.8416.19554" targetFramework="net47" />
  <package id="garmit.LineService.Interface" version="0.0.8416.19553" targetFramework="net47" />
  <package id="garmit.LocationModel" version="0.0.8416.17510" targetFramework="net47" />
  <package id="garmit.LocationModel.Interface" version="0.0.8416.17509" targetFramework="net47" />
  <package id="garmit.LocationService" version="0.0.8556.34993" targetFramework="net47" />
  <package id="garmit.LocationService.Interface" version="0.0.8556.34992" targetFramework="net47" />
  <package id="garmit.LoginModel" version="0.0.8112.29055" targetFramework="net47" />
  <package id="garmit.LoginModel.Interface" version="0.0.8112.29054" targetFramework="net47" />
  <package id="garmit.LoginService" version="0.0.8116.21174" targetFramework="net47" />
  <package id="garmit.LoginService.Interface" version="0.0.8116.21173" targetFramework="net47" />
  <package id="garmit.LoginUserModel" version="0.0.8593.23868" targetFramework="net47" />
  <package id="garmit.LoginUserModel.Interface" version="0.0.8593.23867" targetFramework="net47" />
  <package id="garmit.LoginUserService" version="0.0.8556.35234" targetFramework="net47" />
  <package id="garmit.LoginUserService.Interface" version="0.0.8556.35233" targetFramework="net47" />
  <package id="garmit.LogoutModel" version="0.0.8112.29217" targetFramework="net47" />
  <package id="garmit.LogoutModel.Interface" version="0.0.8112.29217" targetFramework="net47" />
  <package id="garmit.LogoutService" version="0.0.8116.21256" targetFramework="net47" />
  <package id="garmit.LogoutService.Interface" version="0.0.8116.21255" targetFramework="net47" />
  <package id="garmit.LookUpModel" version="0.0.8556.33496" targetFramework="net47" />
  <package id="garmit.LookUpModel.Interface" version="0.0.8556.33495" targetFramework="net47" />
  <package id="garmit.MailTemplateModel" version="0.0.8112.20129" targetFramework="net47" />
  <package id="garmit.MailTemplateModel.Interface" version="0.0.8112.20128" targetFramework="net47" />
  <package id="garmit.MailTemplateService" version="0.0.8116.30134" targetFramework="net47" />
  <package id="garmit.MailTemplateService.Interface" version="0.0.8116.30134" targetFramework="net47" />
  <package id="garmit.MaintenanceScheduleModel" version="0.0.8112.19413" targetFramework="net47" />
  <package id="garmit.MaintenanceScheduleModel.Interface" version="0.0.8112.19413" targetFramework="net47" />
  <package id="garmit.MaintenanceScheduleService" version="0.0.8116.25087" targetFramework="net47" />
  <package id="garmit.MaintenanceScheduleService.Interface" version="0.0.8116.25085" targetFramework="net47" />
  <package id="garmit.MenuModel" version="0.0.8111.33571" targetFramework="net47" />
  <package id="garmit.MenuModel.Interface" version="0.0.8111.33570" targetFramework="net47" />
  <package id="garmit.MenuService" version="0.0.8116.24126" targetFramework="net47" />
  <package id="garmit.MenuService.Interface" version="0.0.8116.24125" targetFramework="net47" />
  <package id="garmit.NetworkPathModel" version="0.0.8112.18584" targetFramework="net47" />
  <package id="garmit.NetworkPathModel.Interface" version="0.0.8112.18583" targetFramework="net47" />
  <package id="garmit.NetworkPathService" version="0.0.8465.19109" targetFramework="net47" />
  <package id="garmit.NetworkPathService.Interface" version="0.0.8465.19108" targetFramework="net47" />
  <package id="garmit.OperationLogModel" version="0.0.8556.32738" targetFramework="net47" />
  <package id="garmit.OperationLogModel.Interface" version="0.0.8556.32736" targetFramework="net47" />
  <package id="garmit.OperationLogService" version="0.0.8116.26004" targetFramework="net47" />
  <package id="garmit.OperationLogService.Interface" version="0.0.8116.26003" targetFramework="net47" />
  <package id="garmit.PatchboardModel" version="0.0.8416.17041" targetFramework="net47" />
  <package id="garmit.PatchboardModel.Interface" version="0.0.8416.17040" targetFramework="net47" />
  <package id="garmit.PatchboardService" version="0.0.8416.17779" targetFramework="net47" />
  <package id="garmit.PatchboardService.Interface" version="0.0.8416.17778" targetFramework="net47" />
  <package id="garmit.PointModel" version="0.0.8116.19490" targetFramework="net47" />
  <package id="garmit.PointModel.Interface" version="0.0.8116.19489" targetFramework="net47" />
  <package id="garmit.PointService" version="0.0.8116.21739" targetFramework="net47" />
  <package id="garmit.PointService.Interface" version="0.0.8116.21739" targetFramework="net47" />
  <package id="garmit.ProjectModel" version="0.0.8416.17933" targetFramework="net47" />
  <package id="garmit.ProjectModel.Interface" version="0.0.8416.17933" targetFramework="net47" />
  <package id="garmit.ProjectService" version="0.0.8416.19131" targetFramework="net47" />
  <package id="garmit.ProjectService.Interface" version="0.0.8416.19130" targetFramework="net47" />
  <package id="garmit.RackCapacityModel" version="0.0.8116.20495" targetFramework="net47" />
  <package id="garmit.RackCapacityModel.Interface" version="0.0.8116.20494" targetFramework="net47" />
  <package id="garmit.RackCapacityService" version="0.0.8116.23372" targetFramework="net47" />
  <package id="garmit.RackCapacityService.Interface" version="0.0.8116.23371" targetFramework="net47" />
  <package id="garmit.RackModel" version="0.0.8419.19228" targetFramework="net47" />
  <package id="garmit.RackModel.Interface" version="0.0.8419.19227" targetFramework="net47" />
  <package id="garmit.RackService" version="0.0.8465.18869" targetFramework="net47" />
  <package id="garmit.RackService.Interface" version="0.0.8465.18868" targetFramework="net47" />
  <package id="garmit.RdbDataSource" version="0.0.8593.23369" targetFramework="net47" />
  <package id="garmit.RdbDataSource.Interface" version="0.0.8593.23365" targetFramework="net47" />
  <package id="garmit.RealTimeDataService" version="0.0.8411.17534" targetFramework="net47" />
  <package id="garmit.RealTimeDataService.Interface" version="0.0.8411.17533" targetFramework="net47" />
  <package id="garmit.ReportModel" version="0.0.8112.20585" targetFramework="net47" />
  <package id="garmit.ReportModel.Interface" version="0.0.8112.20584" targetFramework="net47" />
  <package id="garmit.ReportService" version="0.0.8116.22900" targetFramework="net47" />
  <package id="garmit.ReportService.Interface" version="0.0.8116.22899" targetFramework="net47" />
  <package id="garmit.SampleModel" version="1.0.0" targetFramework="net47" />
  <package id="garmit.SampleModel.Interface" version="1.0.0" targetFramework="net47" />
  <package id="garmit.SearchConditionModel" version="0.0.8416.17092" targetFramework="net47" />
  <package id="garmit.SearchConditionModel.Interface" version="0.0.8416.17092" targetFramework="net47" />
  <package id="garmit.SearchConditionService" version="0.0.8416.18840" targetFramework="net47" />
  <package id="garmit.SearchConditionService.Interface" version="0.0.8416.18839" targetFramework="net47" />
  <package id="garmit.StandbyCommandModel" version="0.0.8112.20917" targetFramework="net47" />
  <package id="garmit.StandbyCommandModel.Interface" version="0.0.8112.20916" targetFramework="net47" />
  <package id="garmit.SystemModel" version="0.0.8112.18807" targetFramework="net47" />
  <package id="garmit.SystemModel.Interface" version="0.0.8112.18806" targetFramework="net47" />
  <package id="garmit.SystemService" version="0.0.8116.22770" targetFramework="net47" />
  <package id="garmit.SystemService.Interface" version="0.0.8116.22770" targetFramework="net47" />
  <package id="garmit.TagModel" version="0.0.8112.19910" targetFramework="net47" />
  <package id="garmit.TagModel.Interface" version="0.0.8112.19909" targetFramework="net47" />
  <package id="garmit.TagService" version="0.0.8116.25464" targetFramework="net47" />
  <package id="garmit.TagService.Interface" version="0.0.8116.25463" targetFramework="net47" />
  <package id="garmit.TemplateModel" version="0.0.8112.29431" targetFramework="net47" />
  <package id="garmit.TemplateModel.Interface" version="0.0.8112.29430" targetFramework="net47" />
  <package id="garmit.TemplateService" version="0.0.8116.21414" targetFramework="net47" />
  <package id="garmit.TemplateService.Interface" version="0.0.8116.21413" targetFramework="net47" />
  <package id="garmit.TrendGraphService" version="0.0.8116.22122" targetFramework="net47" />
  <package id="garmit.TrendGraphService.Interface" version="0.0.8116.22121" targetFramework="net47" />
  <package id="garmit.UnitImageModel" version="0.0.8112.18991" targetFramework="net47" />
  <package id="garmit.UnitImageModel.Interface" version="0.0.8112.18991" targetFramework="net47" />
  <package id="garmit.UnitImageService" version="0.0.8116.24492" targetFramework="net47" />
  <package id="garmit.UnitImageService.Interface" version="0.0.8116.24491" targetFramework="net47" />
  <package id="garmit.UnitModel" version="0.0.8112.19011" targetFramework="net47" />
  <package id="garmit.UnitModel.Interface" version="0.0.8112.19010" targetFramework="net47" />
  <package id="garmit.UnitService" version="0.0.8462.34520" targetFramework="net47" />
  <package id="garmit.UnitService.Interface" version="0.0.8462.34519" targetFramework="net47" />
  <package id="garmit.UnitTypeModel" version="0.0.8112.19853" targetFramework="net47" />
  <package id="garmit.UnitTypeModel.Interface" version="0.0.8112.19852" targetFramework="net47" />
  <package id="garmit.UnitTypeService" version="0.0.8116.25817" targetFramework="net47" />
  <package id="garmit.UnitTypeService.Interface" version="0.0.8116.25816" targetFramework="net47" />
  <package id="garmit.UnlockPurposeService" version="0.0.8116.34916" targetFramework="net47" />
  <package id="garmit.UnlockPurposeService.Interface" version="0.0.8116.34915" targetFramework="net47" />
  <package id="garmit.Utility" version="0.0.8117.19355" targetFramework="net47" />
  <package id="garmit.ValueDataModel" version="0.0.8112.30000" targetFramework="net47" />
  <package id="garmit.ValueDataModel.Interface" version="0.0.8112.29999" targetFramework="net47" />
  <package id="garmit.WebApplicationService" version="0.0.6579.26260" targetFramework="net47" />
  <package id="garmit.WebApplicationService.Interface" version="0.0.6579.26259" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.15.0" targetFramework="net47" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net47" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net47" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.4.1" targetFramework="net47" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.4.1" targetFramework="net47" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.4.1" targetFramework="net47" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.4.1" targetFramework="net47" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.4.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc.ja" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor.ja" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.Web.Optimization.ja" version="1.1.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client.ja" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core.ja" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost.ja" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages.ja" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net47" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Mono.Reflection" version="1.1.0.0" targetFramework="net47" />
  <package id="Mono.Reflection.Core" version="1.1.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net47" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="WebGrease" version="1.6.0" targetFramework="net47" />
</packages>