/**
 * garmit アセットメニュー内で使用するスタイル
 * last modified 2018/7/6
 *
 */

/* ========================================
 * オーバーレイで右にパネルを表示するときのスタイル
 * ======================================== */
.overlay-right-panel {
    position: absolute;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 10px;
    width: 380px;
    z-index: 100;
}

@media screen and (max-width: 767px) {
    .overlay-right-panel {
        width: 300px;
    }
}

/* ========================================
 * ラック画面のバーフォームのスタイル
 * ======================================== */
.rack-bargraph-from {
    padding: 10px;
    border: 1px solid #CCC;
    border-top: 0px; 
}

.rack-bargraph-from > .form-group {
    margin-bottom: 5px; 
}

.rack-bargraph-from > .form-group:last-child, 
.rack-bargraph-from > .form-group .progress {
    margin-bottom: 0px !important;
}

/* ========================================
 * RackTableボックス内のロケーションパンくずリスト
 * ======================================== */

 .racktable-breadcrumb {
    margin: 0px !important;
    font-size: 11px !important;
    border-radius: 0px;
    padding: 5px 10px !important;
    background: #d2d6de !important;
}

.racktable-breadcrumb > li {
    color: #444;
    text-decoration: none;
    display: inline-block;
}

.rack.rack-multi-table .location-path {
    display: block;
}

/* ========================================
 * ユニット移動画面のラック電源情報パネルのスタイル
 * ======================================== */
.unitmove-rackpower-panel {
    margin-top: 5px;
    margin-bottom: 0px;
}
.unitmove-rackpower-panel:first-child {
    margin-top: 0px;
}
.unitmove-rackpower-panel > .panel-heading {
    padding: 5px 15px;
}
.unitmove-rackpower-panel > .panel-body .form-group {
    margin-bottom: 0px;
}

.unitmove-rackpower-panel > .panel-body .form-group > .form-control-static {
    padding-top: 0px;
    min-height: auto;
}

.unitmove-rackpower-panel > .panel-body .form-group > .progress {
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .unitmove-rackpower-panel > .panel-body .form-group:not(:last-child) {
        margin-bottom: 7px;
    }
    .unitmove-rackpower-panel > .panel-body .form-control-static {
        padding-top : 3px;
        padding-bottom: 3px;
    }
}

/* ========================================
 * 左右の矢印のスタイル（左右にラック図を表示する画面に使用）
 * ======================================== */
 .asset-arrow {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    height: 40px;
    width: 30px;
}

.asset-arrow:before, 
.asset-arrow:after{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

/* 右矢印 */
.asset-arrow-right:before{
    content: '';
    left: 10px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 20px solid transparent;
    border-left: 16px solid darkgray;
}

.asset-arrow-right:after{
    content: '';
    left: 0;
    width: 10px;
    height: 20px;
    border-left: 10px solid darkgray;
}

/* 左矢印 */
.asset-arrow-left:before{
    content: '';
    right: 10px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 20px solid transparent;
    border-right: 16px solid darkgray;
}

.asset-arrow-left:after{
    content: '';
    right: 0;
    width: 10px;
    height: 20px;
    border-right: 10px solid darkgray;
}

@media screen and (max-width: 767px) {
    /* 左矢印は上矢印に。右矢印は下矢印に。 */
    .asset-arrow-right,
    .asset-arrow-left {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

/* ========================================
 * 左右にラック図を表示する画面の情報表示パネルのスタイル
 * ======================================== */
.asset-panel-group {
    display: table;
    width: 100%;
}

.asset-panel-item {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.asset-panel-item:last-child {
    padding-right: 0px;
}

.asset-panel-addon {
    width: 1%;
    white-space: nowrap;
}

.asset-panel-group > .pa-right {
    padding-right: 35px;
}

.asset-panel-group > .pa-left {
    padding-left: 35px;
}

@media screen and (max-width: 767px) {
    .asset-panel-group > .pa-right,
    .asset-panel-group > .pa-left {
        padding: 0px;
    }

    .asset-panel-group,
    .asset-panel-item {
        display: block;
    }

    .asset-panel-item {
        padding-right: 0px;
    }   

    .asset-panel-addon {
        width: auto;
        text-align: center
    }
}

/* ========================================
 * 左右にラック図を表示する画面の真ん中の最初の行のスタイル
 * ======================================== */
.asset-center-first-row {
    margin-top: 44px;
}

@media screen and (max-width: 767px) {
    .asset-center-first-row {
        margin: 0px;
    }
}

/* ========================================
 * 左右にラック図を表示する画面の真ん中の列のスタイル
 * ======================================== */
.asset-center-col-info {
    padding: 0px;
}

@media screen and (max-width: 767px) {
    .asset-center-col-info {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ========================================
 * ユニット移動画面の複数ユニット用のパンくずりすと
 * ======================================== */
 
 .unitmove-label-breadcrumb {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0px !important;
    background: none;
}

.unitmove-label-breadcrumb li.breadcrumb-highlight {
    color:#dd4b39;
}

/* ========================================
 * ユニット移動画面の矢印の色指定
 * ======================================== */
.unitmove-arrow-right:before,
.unitmove-arrow-right:after {
    border-left-color: #4D6290;
}

.unitmove-arrow-left:before,
.unitmove-arrow-left:after {
    border-right-color: #4D6290;

}

/* ========================================
 * 複数行表示用パネル
 * ======================================== */
.multi-lines-panel {
    overflow-y: scroll;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    max-height: 130px;
}

/* ========================================
 * 複数チェックボックス表示用パネル
 * ======================================== */
.multi-lines-panel .checkbox {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #333333;
}

.multi-lines-panel .text-error {
    color: #a94442 !important;
}

/* ========================================
 * 複数行パネル内のUlのスタイル
 * ======================================== */
 .multi-lines-panel ul {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
}

.multi-lines-panel li {
    margin-top: 3px;
    margin-bottom: 3px;
}


/* ========================================
 * ユニット移動画面のユニット選択モーダル内form-groupのスタイル
 * ======================================== */
.unitmove-unit-select .form-group {
    margin-bottom: 0px;
}

.unitmove-unit-select .form-group .form-control-static {
    padding: 0px;
}

/* ========================================
 * ネットワーク接続登録画面の中央部のスタイル
 * ======================================== */
.networkedit-center-col {
    padding: 0px;
}

/* ========================================
 * ネットワーク接続登録画面の中央部のスタイル
 * ======================================== */

@media screen and (max-width: 767px) {
    .networklist-control-button-row > div.pull-left {
        margin-bottom: 5px;
    }
}

/* ========================================
 * ユニット移動画面の荷重バーグラフフォームのスタイル
 * ======================================== */
.unitmove-loadgraph-form {
    border-top: 1px solid #CCC;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}

.unitmove-loadgraph-form > .form-group {
    margin-bottom: 0px;
}

.unitmove-loadgraph-form > .form-group > .progress {
    margin-bottom: 0px;
}

/* ========================================
 * ネットワークの接続状態SVGのスタイル
 * ======================================== */
 .network-connect-panel {
    margin-top: 15px;
    position: relative;
    padding-top: 20px;
 }

 .network-connect-svg {
    position: absolute;
    top: 0;
    left: 0;
 }

 .network-connect-line {
    height: 20px;
}

.network-connect-svg > .line-middle {
    fill: url(#verticalGradient);
}

 @media screen and (max-width: 991px) {
    .network-connect-panel {
        margin-top: 0px;
        padding-top: 40px;
    }

    .network-connect-line {
        height: 50px;
        x: 40%;
        width: 20%;
    }

    .network-connect-svg > .line-middle {
        fill: url(#horizontalGradient);
    }
}

/* ========================================
 * リンクボタンのスタイル
 * ======================================== */
 .btn.asset-transition-link {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}


/* ========================================
 * ラック搭載図内にテキストを表示するスタイル
 * ======================================== */
 div.rack-body-inner-text {
    margin-left: 48px;
    color: white;
    margin-right: 20px;
    padding: 5px 0px;
 }

/* ========================================
 * ラック搭載図に表示するクイックランチャのスタイル
 * ======================================== */
.racktable-quick-launcher.popover {
    background-color: #888888;
}

.racktable-quick-launcher > .popover-title {
    background-color: #999;
    color: white;
    border-bottom: 1px solid #888888;
}

.racktable-quick-launcher > .arrow:after {
    border-bottom-color: #999 !important;
}

.racktable-quick-launcher > .popover-content {
    background-color: #666;
}

/* ========================================
 * Edge対応（ラック搭載図）
 * ======================================== */
.unit-selectable .rack-row-list li.edge-style {
    background-color: transparent;
}

.unit-selectable .rack-body.edge-style {
    position: relative;
}

.unit-selectable .rack-body.edge-style > div.edge-style {
    position: absolute;
    top: 2px;
    left: calc(2em + 20px);
    width: calc(100% - 2em - 40px);
    height: calc(100% - 7px);
    background-color: #C9C9C9;
}

.rack.rack-multi.unit-selectable .rack-body.edge-style > div.edge-style {
    left: calc(2em + 30px);
    width: calc(100% - 2em - 60px);
}