<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="garmit.ColumnOrderModel.Interface" version="0.0.6690.40986" targetFramework="net47" />
  <package id="garmit.DomainObject" version="0.0.7318.27639" targetFramework="net47" />
  <package id="garmit.ExtendedDataModel" version="0.0.6666.31212" targetFramework="net47" />
  <package id="garmit.ExtendedDataModel.Interface" version="0.0.6666.31211" targetFramework="net47" />
  <package id="garmit.ExtendedDataService" version="0.0.6669.26231" targetFramework="net47" />
  <package id="garmit.ExtendedDataService.Interface" version="0.0.6669.26230" targetFramework="net47" />
  <package id="garmit.FloorMapModel.Interface" version="0.0.7562.33017" targetFramework="net47" />
  <package id="garmit.FloorMapService" version="0.0.6703.18388" targetFramework="net47" />
  <package id="garmit.FloorMapService.Interface" version="0.0.6703.18387" targetFramework="net47" />
  <package id="garmit.Infrastructure" version="0.0.7318.27521" targetFramework="net47" />
  <package id="garmit.LoginUserModel.Interface" version="0.0.6702.31829" targetFramework="net47" />
  <package id="garmit.LookUpModel.Interface" version="0.0.6704.18284" targetFramework="net47" />
  <package id="garmit.OperationLogModel.Interface" version="0.0.6690.37395" targetFramework="net47" />
  <package id="garmit.RackModel.Interface" version="0.0.6701.34843" targetFramework="net47" />
  <package id="garmit.RdbDataSource.Interface" version="0.0.6705.34811" targetFramework="net47" />
  <package id="garmit.Utility" version="0.0.6689.33252" targetFramework="net47" />
  <package id="garmit.ValueDataModel.Interface" version="0.0.6701.19993" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc.ja" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor.ja" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages.ja" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
</packages>